﻿@model OpenSlide.Cs.WebApp.Models.Slide

@{
	ViewData["Title"] = Model.FileName;
}

<style type="text/css">
	div#view {
		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		color: white;
	}
</style>

<div id="view"></div>

<script type="text/javascript" src="~/js/jquery.js"></script>
<script type="text/javascript" src="~/js/openseadragon.js"></script>
<script type="text/javascript" src="~/js/openseadragon-scalebar.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var viewer = new OpenSeadragon({
        id: "view",
		tileSources: "@Model.SlideDziUrl",
        prefixUrl: "/images/",
        showNavigator: true,
        showRotationControl: true,
        animationTime: 0.5,
        blendTime: 0.1,
        constrainDuringPan: true,
        maxZoomPixelRatio: 2,
        minZoomLevel: 1,
        visibilityRatio: 1,
        zoomPerScroll: 2,
        timeout: 120000,
    });
    viewer.addHandler("open", function() {
        // To improve load times, ignore the lowest-resolution Deep Zoom
        // levels.  This is a hack: we can't configure the minLevel via
        // OpenSeadragon configuration options when the viewer is created
        // from DZI XML.
        viewer.source.minLevel = 8;
    });

    var mpp = parseFloat(@Model.SlideMpp);
    viewer.scalebar({
        pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
        xOffset: 10,
		yOffset: 20,
        barThickness: 3,
        color: '#555555',
        fontColor: '#333333',
        backgroundColor: 'rgba(255, 255, 255, 0.5)'
    });
});
</script>
