﻿@model OpenSlide.Cs.WebApp.Models.Slide

@{
	ViewData["Title"] = "Associated Images | " + Model.FileName;
}

<div id="images">

	<h2>@Model.FileName associated images</h2>
	@if (Model.AssociatedImages != null)
	{
	<table class="table table-hover table-responsive">
		@foreach (var item in Model.AssociatedImages)
		{
		<tr>
			<th>@Html.ActionLink(item.Key, "GetAssociatedImage", "SlideSet", new { slug = Model.SlideUrl, imageName = item.Key }) </th>
		</tr>
		}
	</table>
	}

</div>
