﻿@model OpenSlide.Cs.WebApp.Models.Slide

@{
	ViewData["Title"] = "Properties | " + Model.FileName;
}

<div class="container" id="properties">
	<h2>@Model.FileName properties</h2>
	@if (Model.SlideProperties != null)
	{
		<table class="table table-striped table-condensed table-hover">
			@foreach (var item in Model.SlideProperties)
			{
				<tr>
					<th>@item.Key</th>
					<td>@item.Value</td>
				</tr>
			}
		</table>
	}
</div>